@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i");
@font-face {
  font-family: "Open Sans", sans-serif; }

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-weight: normal; }

.page-header {
  margin: 0 auto;
  width: 640px;
  position: relative;
  background: #ffffff;
  z-index: 1;
  box-shadow: 0 2px 1px -1px #000000; }

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: stretch;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: -1.2px;
  background-color: #474747; }

.site-list__item {
  background-color: #f5c506;
  flex-grow: 1; }

.site-list__link {
  color: #9b7d08;
  padding-top: 20px;
  padding-bottom: 14px;
  display: block;
  text-transform: uppercase;
  text-decoration: none; }

.site-list__link--about {
  padding-left: 59px;
  padding-right: 24px;
  background: url(../img/about.svg) 23px 20px no-repeat; }

.site-list__link--servise {
  padding-left: 36px;
  padding-right: 10px;
  background: url(../img/servise.svg) 8px 21px no-repeat;
  border-left: 1px solid #dbb105; }

.site-list__link--contact {
  padding-left: 51px;
  padding-right: 16px;
  background: url(../img/contact.svg) 12px 20px no-repeat;
  border-left: 1px solid #dbb105; }

.main-logo {
  background: linear-gradient(#616161, #474747); }

.main-logo__link {
  padding-left: 58px;
  padding-right: 20px;
  display: block;
  font-style: italic;
  color: #ffffff;
  letter-spacing: 0.3px;
  text-shadow: 1px 1.5px 0 #000000;
  background: url(../img/logo.svg) 12px 11px no-repeat; }

.page-main {
  margin: 0 auto;
  width: 640px; }

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .advantages__list input {
    display: none; }

.advantages__title {
  display: none; }

.advantages__item {
  height: 327px;
  display: none; }

#button_slide_1:checked ~ .slider__item-1,
#button_slide_2:checked ~ .slider__item-2 {
  display: block; }

.middle-bar {
  background: #ffffff; }

.middle-bar__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: -9px;
  position: relative;
  display: flex;
  flex-direction: row;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  background: url(../img/middle-bar_background.png);
  z-index: 1; }

.middle-bar__link {
  padding-top: 119px;
  padding-bottom: 29px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000; }

.middle-bar__link--cloud {
  padding-left: 44px;
  padding-right: 16px;
  background: url(../img/middle-bar_cloud.svg) 75px 42px no-repeat; }

.middle-bar__link--leaf {
  padding-left: 51px;
  padding-right: 47px;
  background: url(../img/middle-bar_leaf.svg) 79px 39px no-repeat; }

.middle-bar__link--plane {
  padding-left: 52px;
  padding-right: 61px;
  background: url(../img/middle-bar_plane.svg) 55px 38px no-repeat; }

.banner__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap; }

.banner__item {
  margin: 9px 0 9px 9px; }

.banner__message {
  padding: 17px 29px 0 26px;
  position: relative;
  width: 299px;
  font-family: Arial, sans-serif;
  font-weight: lighter;
  font-size: 28px;
  line-height: 1.2;
  box-sizing: border-box;
  color: #ffffff;
  background: #ec9e03; }
  .banner__message p {
    margin: 0; }

.button__plus {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 34px;
  height: 46px;
  background: url(../img/banner_plus.svg) 12px 18px no-repeat; }

.banner__player {
  width: 315px;
  height: 232px; }

.banner-twitter {
  margin: 0;
  width: 100%;
  background: #f5c506 url(../img/twitter.svg) 85px 58px no-repeat;
  z-index: -2; }

.banner-twitter__list {
  float: right;
  display: flex;
  flex-direction: column;
  width: 321px;
  list-style: none; }

.banner-twitter__item {
  margin: 7px 31px 7px 15px;
  padding: 7px 18px 5px;
  position: relative;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  background: white;
  border: none;
  border-radius: 9px; }
  .banner-twitter__item::after {
    content: "";
    position: absolute;
    left: -9px;
    bottom: 6px;
    width: 9px;
    height: 14px;
    background: url(../../img/tweet-ops.png); }

.banner-twitter__message--1 {
  margin-top: 23px; }

.banner-twitter__message--2 {
  background: rgba(255, 255, 255, 0.7); }

.banner-twitter__message--2::after {
  opacity: .7; }

.banner-twitter__message--3 {
  background: rgba(255, 255, 255, 0.6); }

.banner-twitter__message--3::after {
  opacity: .6; }

.banner-twitter__tweet {
  margin: 6px 33px 12px 17px; }

.banner-twitter__form {
  padding: 0;
  width: 270px;
  height: 29px;
  display: flex;
  flex-direction: row;
  border: 1px solid #d0a806;
  border-radius: 12px;
  overflow: hidden; }

.banner-twitter__input {
  flex-grow: 1;
  border: none;
  border-radius: 12px 0 0 12px;
  box-shadow: inset 1px 1px 6px #E3DBC4; }

.banner-twitter__submit {
  padding: 6px 13px;
  width: 70px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #ffffff;
  background: linear-gradient(#eaa927, #cf8e0c);
  box-sizing: border-box; }

.bonus {
  position: relative;
  background: #474747; }

.bonus__title {
  margin: 0;
  position: absolute;
  top: 30px;
  left: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 39px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #f5c506;
  background: #474747; }

.bonus__image {
  width: 640px;
  height: 461px; }

.bonus__sticker {
  position: absolute;
  top: 115px;
  left: 27px;
  width: 116px;
  height: 116px;
  border-radius: 58px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  background: #f5c506; }

.bonus__sticker-text {
  margin-top: 36px;
  text-align: center; }

.page-footer {
  margin: 0 auto;
  width: 640px;
  position: relative;
  background: #474747;
  z-index: 1;
  box-shadow: 0 -2px 8px -1px #000000; }

.page-footer__logo {
  padding: 10px 106px;
  text-transform: uppercase;
  text-decoration: none;
  background-position: 65px 6px;
  background-size: 31px 31px; }
