@font-face {
  font-family: "Open Sans", sans-serif;
  src: url(../fonts/OpenSans-Regular.woff) format("woff"),
      url(../fonts/OpenSans-Regular.woff2) format("woff2");
  font-style : normal;
  font-weight: normal;
}