$lite-gray     : #616161;
$gray          : #474747;
$gray-footer   : #4c4c4c;
$orange-menu   : #f1c206;
$orange        : #f5c506;
$orange-message: #ec9e03;
$orange-text   : #9b7d08;
$orange-gray   : #dbb105;
$white-text    : #ffffff;
$orange-border : #d0a806;
$gray-shadow   : #E3DBC4;
