$gray-text     : #90908f;
$lite-gray     : #616161;
$gray          : #474747;
$gray-footer   : #4c4c4c;
$orange-menu   : #f1c206;
$orange        : #f5c506;
$orange-shadow : hsla(48, 95%, 49%, 0.27);
$orange-message: #ec9e03;
$orange-text   : #9b7d08;
$orange-gray   : #dbb105;
$white-text    : #ffffff;
$orange-border : #d0a806;
$gray-shadow   : #E3DBC4;
$gray-border   : #cfcfcf;

$desktop-width: 1040px;
