.advantages {
  margin: 0 auto;
  width : 640px;
}

.advantages__list {
  @include reset-list;

  & input {
    display: none;
  }
}

.advantages__item,
.advantages__title {
  display: none;
}

.advantages__player {
  width     : 640px;
  height    : 327px;
  background: url(../img/slider-player-announcement.jpg) no-repeat;
}

#button_slide_1:checked ~ .slider__item-1,
#button_slide_2:checked ~ .slider__item-2 {
  display: block;
}

@media (min-width: $desktop-width) {
  .advantages {
    margin        : 57px auto 71px;
    position      : relative;
    width         : 1020px;
  }

  .advantages__list {
    padding : 0 10px;
    position: relative;
  }

  .advantages__item {
    /* display: flex; - checked in label */
    flex-direction: row-reverse;
    align-items   : center;
  }

  .advantages__item::after {
    margin-left: -50vw;
    content    : "";

    position   : absolute;
    bottom     : -71px;
    left       : 50%;
    width      : 100vw;
    height     : 100vh;

    background : #000000 url(../img/advantages-background_1.jpg) center bottom no-repeat;
    z-index    : -1;
  }

  .advantages__title {
    margin-top    : 27px;

    display       : block;

    font-size     : 63px;
    font-weight   : lighter;
    line-height   : 75px;

    text-align    : center;
    text-transform: uppercase;

    color         : $orange;
    & b {
      font-weight: lighter;
      color      : $white-text;
    }
  }

  .advantages__player {
    margin-right: auto;

    width       : 549px;
    height      : 327px;

    background  : url(../img/slider-player-announcement_desktop.jpg) no-repeat;
  }

  .advantages__control-slide-1,
  .advantages__control-slide-2 {
    display: none;
  }

  .advantages__button {
    position  : absolute;
    bottom    : 139px;
    width     : 32px;
    height    : 57px;

    background: $orange url(../img/button-arrow.svg) 8px 19px no-repeat;

    &:hover {
      cursor         : pointer;
      background     : $orange-message url(../img/button-arrow.svg) 8px 14px no-repeat;
      background-size: 14.5px 28.5px;
    }
  }

  #button_slide_1:checked ~ .advantages__control-slide-1,
  #button_slide_2:checked ~ .advantages__control-slide-2 {
    display: block;
  }

  #button_slide_1:checked ~ .slider__item-1,
  #button_slide_2:checked ~ .slider__item-2 {
    display: flex;
  }

  #button_slide_2:checked ~ .advantages__item::after {
    background: #000000 url(../img/advantages-background_2.jpg) center bottom no-repeat;
  }

  .advantages__button--preview {
    left: -139px;
  }

  .advantages__button--next {
    right     : -141px;

    background: $orange url(../img/button-arrow-next.svg) 11px 19px no-repeat;

    &:hover {
      cursor         : pointer;
      background     : $orange-message url(../img/button-arrow-next.svg) 11px 14px no-repeat;
      background-size: 14.5px 28.5px;
    }
  }
}
