.banner__list {
  @include reset-list;
  display  : flex;
  flex-flow: row wrap;
}

.banner__item {
  margin: 9px 0 9px 9px;
}

.banner__message {
  padding    : 17px 29px 0 26px;
  position   : relative;
  width      : 299px;
  font-family: Arial, sans-serif;
  font-weight: lighter;
  font-size  : 28px;
  line-height: 1.2;
  box-sizing : border-box;
  color      : $white-text;
  background : $orange-message;
  
  & p{
    margin: 0;
  }
}

.button__plus {
  position  : absolute;
  bottom    : 0;
  right     : 0;
  width     : 34px;
  height    : 46px;
  background: url(../img/banner_plus.svg) 12px 18px no-repeat;
}

.banner__player {
  width : 315px;
  height: 232px;
}

.banner__player-iframe {
}

.banner-twitter {
  margin    : 0;
  width     : 100%;
  background: $orange url(../img/twitter.svg) 85px 58px no-repeat;
  z-index   : -2;
}

.banner-twitter__list {
  float         : right;
  display       : flex;
  flex-direction: column;
  width         : 321px;
  list-style    : none;
}

.banner-twitter__item {
  margin     : 7px 31px 7px 15px;
  padding    : 7px 18px 5px;
  position   : relative;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size  : 13px;
  background: hsla(0, 0%, 100%, 1);
  border: none;
  border-radius: 9px;
  
  &::after {
    content   : "";
    position  : absolute;
    left      : -9px;
    bottom    : 6px;
    width     : 9px;
    height    : 14px;
    background: url(../../img/tweet-ops.png);
  }
}

.banner-twitter__message--1 {
  margin-top: 23px;
}

.banner-twitter__message--2 {
  background: hsla(0, 0%, 100%, .7)
}

.banner-twitter__message--2::after {
  opacity: .7;
}

.banner-twitter__message--3 {
  background: hsla(0, 0%, 100%, .6)
}

.banner-twitter__message--3::after {
  opacity: .6;
}

.banner-twitter__tweet {
  margin: 6px 33px 12px 17px;
}

.banner-twitter__form {
  padding       : 0;
  width         : 270px;
  height        : 29px;
  display       : flex;
  flex-direction: row;
  border        : 1px solid $orange-border;
  border-radius : 12px;
  overflow      : hidden;
}

.banner-twitter__input {
  flex-grow    : 1;
  border       : none;
  border-radius: 12px 0 0 12px;
  box-shadow   : inset 1px 1px 6px $gray-shadow;
}

.banner-twitter__submit {
  padding    : 6px 13px;
  width      : 70px;
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size  : 15px;
  color      : $white-text;
  background : linear-gradient(#eaa927, #cf8e0c);
  box-sizing : border-box;
}
