.banner__wrapper {
  margin   : 0 auto;
  width    : 640px;
}

.banner__title {
  display: none;
}

.banner__list {
  @include reset-list;

  display  : flex;
  flex-flow: row wrap;
}

.banner__item {
  margin: 10px 0 0 9px;
}

.banner__message {
  padding    : 18px 29px 16px;

  position   : relative;
  box-sizing : border-box;
  width      : 298px;

  font-size  : 28px;
  font-weight: lighter;
  line-height: 33px;

  color      : $white-text;
  background : $orange-message;

  & p {
    margin: 0;
  }
}

.banner__button-plus {
  position  : absolute;
  right     : 0;
  bottom    : 0;
  width     : 34px;
  height    : 46px;

  background: url(../img/banner_plus.svg) 12px 18px no-repeat;

  &:hover {
    background     : url(../img/banner_plus_hover.svg) 5px 11.5px no-repeat;
    background-size: 22px 22px;
  }
}

.banner__data {
  display: none;
}

.banner__player {
  width     : 315px;
  height    : 232px;
  background: url(../../img/banner-player-announcement.jpg) no-repeat;
}

.banner__twitter {
  margin-left   : 0;
  display       : flex;
  flex-direction: row;
}

.banner__twitter-logo {
  position  : relative;
  width     : 320px;
  min-height: 233px;
  background: $orange url(../img/twitter.svg) 85px 58px no-repeat;

  & .banner__button-plus {
    display: none;
  }
}

.banner__number-messages {
  display: none;
}

.banner__twitter-list {
  @include reset-list;

  display       : flex;
  flex-direction: column;

  width         : 320px;

  list-style    : none;

  background    : $orange;
}

.banner__twitter-item {
  margin       : 7px 32px 7px 13px;
  padding      : 7px 18px 5px;

  position     : relative;

  font-size    : 13px;
  font-weight  : normal;

  border       : none;
  border-radius: 9px;
  background   : hsla(0, 0%, 100%, 1);

  & p {
    margin: 0;
  }

  &::after {
    content   : "";

    position  : absolute;
    bottom    : 8px;
    left      : -9px;
    width     : 9px;
    height    : 14px;

    background: url(../img/tweet-ops.png);
  }
}

.banner__twitter-message--1 {
  margin-top: 24px;
}

.banner__twitter-message--2 {
  background: hsla(0, 0%, 100%, .7);
}

.banner__twitter-message--2::after {
  opacity: .7;
}

.banner__twitter-message--3 {
  background: hsla(0, 0%, 100%, .6);
}

.banner__twitter-message--3::after {
  opacity: .6;
}

.banner__twitter-tweet {
  margin: auto 33px 11px 16px;
}

.banner__twitter-form {
  padding       : 0;

  display       : flex;
  flex-direction: row;

  width         : 270px;
  height        : 29px;

  border        : 1px solid $orange-border;
  border-radius : 12px;
}

.banner__twitter-input {
  border       : none;
  border-radius: 12px 0 0 12px;
  box-shadow   : inset 1px 1px 6px $gray-shadow;
  flex-grow    : 1;
}

.banner__twitter-submit {
  padding      : 6px 13px;

  box-sizing   : border-box;
  width        : 70px;

  font-size    : 15px;
  font-weight  : normal;

  cursor       : pointer;

  color        : $white-text;
  border-radius: 0 12px 12px 0;
  background   : linear-gradient(#eaa927, #cf8e0c);

  &:hover {
    padding-top : 5px;
    padding-left: 10px;

    font-size   : 17px;

    background  : linear-gradient(#eaa927 40%, #cf8e0c);
  }
}

.banner__item:nth-child(4) {
  display: none;
}

@media (min-width: $desktop-width) {
  .banner {
    background: url(../img/desktop_banner_background.jpg);
  }

  .banner__wrapper {
    margin        : 0 auto;
    padding-bottom: 21px;
    width         : 1020px;
  }

  .banner__title {
    margin        : 36px 0 32px;

    display       : inline-block;

    font-size     : 37px;
    font-weight   : lighter;

    letter-spacing: -2.5px;
    text-transform: uppercase;

    color         : $white-text;
  }

  .banner__horizontal-wrapper {
    overflow-x: auto;

    &::-webkit-scrollbar {
      height       : 15px;
      border-radius: 7.5px;
      background   : hsla(0, 0%, 100%, .48);
    }

    &::-webkit-scrollbar-track {
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 7.5px;
      background   : $orange-message;
    }
  }

  .banner__list {
    padding-bottom: 43px;

    display       : flex;
    flex-direction: row;

    width         : 2400px;
  }

  .banner__item {
    margin: 0;
  }

  .banner__message {
    padding    : 20px 29px 22px;
    width      : 340px;
    line-height: 38px;
  }

  .banner__button-plus {
    right : 2px;
    bottom: -5px;
  }

  .banner__data {
    padding       : 24px 25px 3px;

    display       : inline-block;

    font-size     : 21px;
    line-height   : 25px;

    text-transform: uppercase;

    color         : #b26529;
    background    : $orange-gray;

    & span:first-child {
      font-size  : 51px;
      font-weight: bold;
      color      : $white-text;
    }
  }

  .banner__twitter {
    margin-left: 34px;
    width      : 692px;
    align-items: flex-start;
  }

  .banner__twitter-logo {
    width     : 331px;
    height    : 233px;
    background: $orange-message url(../img/twitter.svg) 85px 58px no-repeat;

    & .banner__button-plus {
      display: block;
    }
  }

  .banner__number-messages {
    display    : block;

    position   : absolute;
    top        : 15px;
    right      : 17px;

    font-size  : 25px;
    font-weight: lighter;

    color      : $white-text;
  }

  .banner__twitter-list {
    background: linear-gradient(-70deg, $orange, $orange-message 85%);
    align-self: stretch;
  }

  .banner__item:nth-child(4) {
    margin-left: 34px;
  }
}
