.middle-bar__list {
  @include reset-list;

  margin        : -9px auto 0;

  display       : flex;
  flex-direction: row;

  position      : relative;
  width         : 640px;

  font-family   : "Open Sans", sans-serif;
  font-size     : 22px;
  font-weight   : normal;
  line-height   : 34px;

  background    : url(../img/middle-bar_background.png);
  z-index       : 1;
}

.middle-bar__item {
  width: 33.33%;
}

.middle-bar__link {
  @include up-link;

  padding-top   : 119px;
  padding-bottom: 29px;

  color         : #000000;
}

.middle-bar__link--cloud {
  padding-left: 44px;

  background  : url(../img/middle-bar_cloud.svg) 75px 42px no-repeat;
}

.middle-bar__link--leaf {
  padding-left: 51px;

  background  : url(../img/middle-bar_leaf.svg) 79px 39px no-repeat;
}

.middle-bar__link--plane {
  padding-left: 52px;

  background  : url(../img/middle-bar_plane.svg) 55px 38px no-repeat;
}

@media (min-width: $desktop-width) {
  .middle-bar {
    margin    : 0;

    position  : relative; /* for box-shadow */

    background: url(../img/desktop_middle-bar_background.png);
    box-shadow: 0 0 6px $gray;
    z-index   : 1;
  }

  .middle-bar__list {
    margin    : 0 auto;

    width     : 1020px;

    background: none;
  }

  .middle-bar__link {
    padding-top   : 146px;
    padding-bottom: 32px;

    font-size     : 27px;
    font-weight   : lighter;
    line-height   : 33px;

    border-right  : 1px solid $gray;

    &:hover {
      box-shadow: inset 0 1px 150px hsla(0, 0%, 28%, .33);
    }
  }

  .middle-bar__link--cloud {
    padding-left       : 79px;

    border-left        : 1px solid $gray-border;
    background-position: 112px 60px;
    background-size    : 109px 74px;
  }

  .middle-bar__link--leaf {
    padding-left       : 105px;

    background-position: 135px 36px;
    background-size    : 91px 95px;
  }

  .middle-bar__link--plane {
    padding-left       : 109px;

    background-position: 119px 53px;
    background-size    : 81px 83px;
  }
}
