.page-footer__wrapper {
  margin    : 0 auto;

  position  : relative;
  width     : 640px;

  background: $gray;
  box-shadow: 0 -4px 5px -2px #000000;
  z-index   : 1;
}

.page-footer__logo {
  padding            : 14px 105px;

  text-decoration    : none;
  text-transform     : uppercase;

  background-position: 65px 6px;
  background-size    : 31px 31px;
}

.page-footer__designed {
  display: none;
}

@media (min-width: $desktop-width) {
  .page-footer {
    position  : relative;

    background: $gray;
    background: $gray;
    box-shadow: 0 -4px 5px -2px #000000;
    z-index   : 1;
  }

  .page-footer__wrapper {
    width     : 1020px;

    background: none;
    box-shadow: none;
    z-index   : 0;
  }

  .page-footer__wrapper::after {
    content: "";

    display: block;
    clear  : both;
  }

  .page-footer__logo {
    padding            : 10px 61px 10px;

    float              : left;

    font-size          : 29px;

    background-position: 0 6px;
    background-size    : 54px 54px;
  }

  .page-footer__designed {
    padding-top: 16px;

    display    : block;
    float      : right;

    font-family: "Open Sans", sans-serif;
    font-size  : 17px;
    font-weight: normal;

    color      : $white-text;
  }
}
