.page-header {
  margin    : 0 auto;

  position  : relative;
  width     : 640px;

  background: #ffffff;
  box-shadow: 0 2px 1px -1px #000000;
  z-index   : 1;
}

@media (min-width: $desktop-width) {
  .page-header {
    width     : 1020px;

    background: transparent;
    box-shadow: none;
  }
}
